$color-white-lilac: #f4f6fb;
$color-limed-spruce: #313a46;
$color-san-juan: #33446c;
$color-cloud-burst: #202b46;
$color-alto: #d3d3d3;
$color-red: #ff0000;
$color-grey: #808080;
$color-athens-gray: #EFF2F5;
$color-silver: #cccccc;
$color-link-water: #f3f7fc;
$color-gray: #888888;
$color-selago: #ebf5fc;
$color-ebony-clay: #222c38;
$color-chestnut-rose: #D06464;
$color-lynch: #657D9D;
$color-heather: #BAC7D5;
$color-blue-bayoux: #4B607C;
$color-viking: #4BD0D0;
$color-spectra: #2B525B;
$color-geyser: #DBE0E7;
$color-shark: #252A31;
$color-fantasy: #F9EBEB;
$color-thunderbird: #D21C1C;
$color-mineral-green: #4A6363;
$color-blue-bayoux2: #526976;
$color-limeade: #389207;
$color-lynch2: #5f738c;
$color-scorpion: #575757;
$color-regent-gray: #949EA8;
$color-java: #22B8B8;
$color-turquoise: #3ACDCD;
$color-bondi-blue: #02AEAE;

// 
$color-primary: #2089dc;
$color-secondary: #ca71eb;
$color-background: #ffffff;
$color-white: #ffffff;
$color-black: #000000;
$color-grey0: #393e42;
$color-grey1: #43484d;
$color-grey2: #5e6977;
$color-grey3: #86939e;
$color-grey4: #bdc6cf;
$color-grey5: #e1e8ee;
$color-greyOutline: #bbbbbb;
$color-success: #22aa00;
$color-error: #ff190c;
$color-warning: #faad14;
$color-disabled: #e3e6e8;
$color-waterblue: #4bd0d0;